@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<h1 style="text-align:center; color: black">Quem sabe um dia ???? to estudando para isso ! kkkk</h1>
<br>
<br>
<br>
<br>
<hr  align=right noshade>
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafia d005</title>
    <style>
        body {
            background-color: rgb(213, 255, 241);
        }
    </style>
    <link rel="shortcut icon" href="../../favicon3.ico" type="image/x-icon">

</head>
<body>
    <center><h1>Desafia d005 center</h1></center>
    <h1>Minhas redes sociais</h1>
    <br>
    <h2>Quem sou eu ???</h2>
    <br>
    <img src="https://raw.githubusercontent.com/VictorMachado38/Estudo/main/html-css/exercicios/Dasafios/d005/IMG_0082%20(1).png" alt="">
    <P><big>Meu nome é Victor Augusto eu tenho 22 anos, estou cursando engenahria da computação espero <strong>terminar em breve</strong>, esse curso, porem esta muito legal aprender a programar.</big></P>
    <br>
    <h1>Minhas redes sociais</h1>

    <ul type="">

        <li><img src="https://raw.githubusercontent.com/VictorMachado38/Estudo/main/html-css/exercicios/Dasafios/d005/icones/facebook.png" alt="">/<a href="https://www.facebook.com/victoraugusto.machado.5" target="_brank">FaceBook</a> - CLicnado aqui você vai para a minha pagina no FaceBook</li>
        <li><img src="https://raw.githubusercontent.com/VictorMachado38/Estudo/main/html-css/exercicios/Dasafios/d005/icones/instagram.png" alt="">/<a href="https://www.instagram.com/victormachado38/" target="_brank">Instagram</a> - CLicnado aqui você vai para a minha pagina no Instagram</li>
        <li><img src="https://raw.githubusercontent.com/VictorMachado38/Estudo/main/html-css/exercicios/Dasafios/d005/icones/github.png" alt="">/<a href="https://github.com/VictorMachado38" target="_brank">GitHub</a> - CLicnado aqui você vai para a minha pagina no GitHub</li>
        <li><img src="https://raw.githubusercontent.com/VictorMachado38/Estudo/main/html-css/exercicios/Dasafios/d005/icones/youtube.png" alt="">/<a href="https://www.youtube.com/channel/UCarBSVut_ycvGuISi3m2cRw" target="_brank">YouTube</a> - CLicnado aqui você vai para a minha pagina no YouTube</li>


    </ul>


</body>
</html>